
<h2>Cook a hamburger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg">whatchya havin</label>
    <input type="text" id="burg" name="name">
  </div>

  <button type="submit">cook it medium-rare</button>
</form>

